body {
   text-align: center;
   background: green;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color: burlywood;
   font-weight: bolder;
   font-size: 1.09rem;
   margin-top: 50px;
   background: url("https://images.unsplash.com/photo-1655159428752-c700435e9983?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8YmxhY2slMjBqYWNrJTIwZ2FtZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60") no-repeat fixed;
   background-size: cover; 

}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}
.msg-div{
    border: 6px solid goldenrod;
    max-width: 110vh;
    height: 100%;
    padding: 5px;
    margin: auto;
}
button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}
